In [1]:
print('Hello world')

Hello world

In [2]:
print("Sethyne is Dwumanoate")

Sethyne is Dwumanoate

### Data types

#### Data types

##### Data types

In [3]:
x = 10
type(x)

int

In [4]:
y= 23.1
type(y)

float

In [5]:
s = 'Sethyne'
type(s)

str

In [6]:
a = True
type(a)

bool

In [7]:
b= False
type(b)

bool

## Variables

In [9]:
names = "Abyt","tyue"
names

('Abyt', 'tyue')

##### Variable names can not start with numbers

In [10]:
2names = "Ahy","Yagy"

SyntaxError: invalid syntax (1363190037.py, line 1)

#### variable names cannot contain special characters except underscore

In [11]:
name-lists ='Ama','yua'

SyntaxError: cannot assign to operator (1193167262.py, line 1)

In [14]:
name_list = "namey",'poau'
name_list

('namey', 'poau')


##### Space is not allowed

In [12]:
name list = 'Anguish','Ahap'

SyntaxError: invalid syntax (3291039798.py, line 1)

In [31]:
title = "Python*is*powerful"
title.strip("*")

'Python*is*powerful'

## Lists

List is:
-->heterogenous (multiple data)
-->mutable (can make changes)

In [15]:
sample_list = [1,3,4,5,6,"hey","man",-1,3.8]
sample_list

[1, 3, 4, 5, 6, 'hey', 'man', -1, 3.8]

In [16]:
sample_list[2]

4

In [17]:
sample_list[8]

3.8

In [18]:
sample_list[2:5]

[4, 5, 6]

In [19]:
sample_list[-3]

'man'

In [21]:
sample_list[2:-1]

[4, 5, 6, 'hey', 'man', -1]

In [22]:
type(sample_list)

list

In [32]:
sample_list[4] = 23
sample_list

[1, 3, 4, 5, 23, 'hey', 'man', -1, 3.8]

## Tuple

Tuple is:
--> heterogenous
--> immutable

In [33]:
sample_tuple = (2,4,23,'hi',-23,'Paul')
sample_tuple

(2, 4, 23, 'hi', -23, 'Paul')

In [34]:
sample_tuple[0]

2

In [35]:
sample_tuple[4]

-23

In [37]:
sample_tuple[0]= 'we'

TypeError: 'tuple' object does not support item assignment

In [38]:
type(sample_tuple)

tuple

## Dictionary

Its mutable
-->{}
heterogenous

In [41]:
dict_1 = {'name':'Seth','age':39,'hobbies':['teaching','counselling','playing video games'],'values':['integrity','humility','discipline']}

In [42]:
dict_1

{'name': 'Seth',
 'age': 39,
 'hobbies': ['teaching', 'counselling', 'playing video games'],
 'values': ['integrity', 'humility', 'discipline']}

In [45]:
dict_1.values()

dict_values(['Seth', 39, ['teaching', 'counselling', 'playing video games'], ['integrity', 'humility', 'discipline']])

In [46]:
dict_1.keys()

dict_keys(['name', 'age', 'hobbies', 'values'])

In [47]:
dict_1['name'] = 'sethyne'

In [48]:
dict_1

{'name': 'sethyne',
 'age': 39,
 'hobbies': ['teaching', 'counselling', 'playing video games'],
 'values': ['integrity', 'humility', 'discipline']}

In [49]:
type(dict_1)

dict

## Set

set is mutable only when you use add or remove, indexing is not allowed.

In [50]:
sample_set ={1,11,3,44,32.3,6,'sethyne','hello',-2,-3,23}
sample_set

{-2, -3, 1, 11, 23, 3, 32.3, 44, 6, 'hello', 'sethyne'}